*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(154, 249, 154);
    font-family: Arial Black;
    outline:none;
}
.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 4px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,70px)                 
}
input{
    grid-column: span 4;
    height: 70px;
    width:  280px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
    /*border: none;*/
    border-radius: 20px; 
    color: rgb(70, 70, 70);
    font-size: 48px;     
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 12px;
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                    5px 5px 12px rgba(0, 0, 0, 0.16); 
    border:none;   
    border-radius: 45%;  
    margin: 10px;
    font-size: 13px;
}
.equal{
    width:118px;
    border-radius:40px;
    background-color: #ec5053;
    box-shadow: -5px -5px 12px #ffffff,
                    5px 5px 12px rgba(0,0,0,.16);
}
